#home-fundo{
    background-image: url(../images/home-page/Background-home-page-1.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 86.6%;
    position: absolute;
   }

#home-p {
    margin-top: 8px;
    font-size: 20px;
    font-size: 1.95rem;
    color: #646964;
}

.home-wrap {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 200px;
    text-align: center;
}

.logo {
    width: 516px;
    margin: 0 auto;
    margin-top: 80px;
    color: #646964;
    position: relative;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.navbar{
    z-index: 3;
    background-color: #FFF;
}

body {
    background-color: #f1f3f4;
    margin: 0px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: 1200px;
}

@media (min-width: 600px)
.contentBox-title {
    padding-bottom: 1em;
    margin-bottom: 2.5rem;
}

.list-group{
    padding-left: 20px;
}

.contentBox-title {
    color: #363c3c;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #eceff0;
}

@media (min-width: 600px)
    .contentBox-title h1 {
        font-size: 1.8em;
    }   

.contentBox-title h1 {
    flex: 5;
    font-size: 1.85em;
    font-weight: 700;
    line-height: 1.2;
    align-items: center;
}

@media (min-width: 1024px)
    .courseDetailBox-title {
     font-size: 1.6em;
    }

.courseDetailBox-title {
    color: #292e2e;
    font-size: 1.25em;
    margin: 1em 0 .7em;
}
@media (min-width: 1024px)
    .courseDetailBox-title {
     font-size: 1.6em;
    }

@media (min-width: 600px)
    .contentBox {
        padding: 1.8em;
    }

.contentBox {
    background: #fff;
    border: 1px solid #eceff0;
    border-radius: 2px;
    padding: 1em;
    max-width: 1200px;
    margin-bottom: 1em;
}

