#index-banner{
    background-image: url(../images/home-page/Background-home-page-1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
   }

.collapsible-body h4, strong{
    color: #fff;
}

#home-p {
    font-size: 1.60rem;
    color: #646964;
}

.home-wrap {
    display: block;
    max-width: 590px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 80px;
    margin-bottom: 90px;
    text-align: center;
}

.logo {
    width: 516px;
    margin: 0 auto;
    color: #646964;
}

#text-modal{
    text-align: center;
}

#page-title{
  margin-top: 23px;
  margin-bottom: 10px;
}

.logo img {
    max-width: 14%;
}
.navbar{
    z-index: 3;
    background-color: #FFF;
}

body {
    background-color: #f1f3f4;
    margin: 0px;
}

html, body, #app, #caderno, #caderno > .row {
    height: 100%;
}

.jumbotron {
  margin-top: 20px;
}

#ultima-instituicao{
  padding-left: 30px;
  padding-right: 180px;
}
  

@media (min-width: 600px)
.contentBox-title {
    padding-bottom: 1em;
    margin-bottom: 2.5rem;
}

.list-group{
    padding-left: 20px;
}

.contentBox-title {
    color: #363c3c;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #eceff0;
}

@media (min-width: 600px)
    .contentBox-title h1 {
        font-size: 1.8em;
    }   

.contentBox-title h1 {
    flex: 5;
    font-size: 1.85em;
    font-weight: 700;
    line-height: 1.2;
    align-items: center;
}

@media (min-width: 1024px)
    .courseDetailBox-title {
     font-size: 1.6em;
    }

.courseDetailBox-title {
    color: #292e2e;
    font-size: 1.25em;
    margin: 1em 0 .7em;
}
@media (min-width: 1024px)
    .courseDetailBox-title {
     font-size: 1.6em;
    }

@media (min-width: 600px)
    .contentBox {
        padding: 1.8em;
    }

.contentBox {
    background: #fff;
    border: 1px solid #eceff0;
    border-radius: 2px;
    padding: 1em;
    max-width: 1200px;
    margin-bottom: 1em;
}

.nav-wrapper .dropdown-button {
    min-width: 180px;
}

.nav-wrapper a:hover, .nav-wrapper a:visited, .nav-wrapper a:link, .nav-wrapper a:active {
    color: #FFFFFF !important;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
}

#dashboard #ultimos-cadernos .card-panel,
#dashboard #todos-cursos .card-panel {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#dashboard #ultimos-cadernos .card-panel:hover,
#dashboard #todos-cursos .card-panel:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#todos-cursos {
    margin-top: 20px;
}

#todos-cursos .collapsible .collapsible-header {
    font-size: 22px;
}
#todos-cursos .collapsible .collapsible-header .delete {
    visibility: hidden !important;
}
#todos-cursos .collapsible .collapsible-header:hover .delete {
    visibility: visible !important;
}

#caderno > .row {
    display: block !important;
}
#caderno > .row .col.s9 {
    height: 100% !important;
}
#caderno #assuntos .collection-item:hover {
    cursor: pointer !important;
}
#caderno #assunto-container {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 3px;
    background: -webkit-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
    background-size: 100% 30px;
}
#caderno #assunto {
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: #717171;
}
#caderno #assunto:before {
    content: '';
    position: absolute;
    width: 0px;
    top: 0;
    left: 39px;
    bottom: 0;
    border-left: 1px solid #F9D3D3;
}
#caderno #assunto #text {
    border: none;
    background-color: transparent;
    padding: 30px 0 0 55px;
    line-height: 30px;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    background-image: none;
    color: #555;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

[contentEditable=true]:empty:not(:focus)::before{
    content:attr(data-ph)
}

/*#app {
  text-align: center;
}
img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
button {
  
}*/